@charset "UTF-8";
/*
Link Google Fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
/*
Colores
*/
/*
Breakpoints @media
*/
/*
Fonts
*/
/*
Orden fuentes
*/
/*
fonts size
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

/*=========================================================*/
.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navbar {
  background-color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  width: 100%;
}
.navbar__logo img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
.navbar__container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.navbar__list {
  display: none;
  justify-content: flex-end;
  flex-grow: 1;
}
.navbar__list a {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
  margin: 0 20px;
}
.navbar__menu {
  font-size: 1.875rem;
  color: #FFF;
}

/*tamaño celular*/
@media (min-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .navbar__list {
    display: flex;
  }
}
/*tamaño tablet*/
@media (min-width: 992px) {
  .navbar__menu {
    display: none;
  }
  .navbar__list {
    display: flex;
  }
}
/* tamaño desktop*/
@media (min-width: 1200px) {
  .navbar__menu {
    display: none;
  }
  .navbar__list {
    display: flex;
  }
}
.header {
  max-width: 100vh;
  margin: 0 auto;
}
.header__img img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
